<head>
    <link rel="stylesheet" href="/output.css">

</head>
<body class="bg-black">
    <header class="flex justify-center items-center">
            <img src="assets/logo.png" width="300px" alt="logo">
    </header>
<main class="text-white flex items-center flex-col">
<div class="displayJokes text-3xl font-light bg-gray-900 p-5 w-1/2 h-48 rounded-3xl">
    <div class="flex justify-center flex-col gap-2">
        <div>Why do java developers wear glasses?</div>
        <div>Because they cant't c#</div>
    </div>
</div>
<div class="btn">
    <button class="bg-blue-600 hover:bg-blue-800 font-semibold w-xs p-4 rounded-xl mt-10">Tell me another joke</button>
</div>
<div class="category w-1/2  h-52 rounded-2xl mt-7  flex items-center justify-center flex-col">
    <h3 class="text-2xl font-semibold text-gray-300">Choose category:</h3>
    <div class="btn mt-5 flex gap-5">
        <button class="bg-gray-700 hover:text-black hover:bg-gray-400 font-semibold p-4 rounded-lg">Any</button>
        <button class="bg-gray-700 hover:text-black hover:bg-gray-400 font-semibold p-4 rounded-lg">Programming</button>
        <button class="bg-gray-700 hover:text-black hover:bg-gray-400 font-semibold p-4 rounded-lg">Dark</button>
        <button class="bg-gray-700 hover:text-black hover:bg-gray-400 font-semibold p-4 rounded-lg">Spooky</button>
        <button class="bg-gray-700 hover:text-black hover:bg-gray-400 font-semibold p-4 rounded-lg">Misc</button>
        <button class="bg-gray-700 hover:text-black hover:bg-gray-400 font-semibold p-4 rounded-lg">Pun</button>
        <button class="bg-gray-700 hover:text-black hover:bg-gray-400 font-semibold p-4 rounded-lg">Chrismas</button>
    </div>
</div>
</main>
    <footer>

    </footer>
</body>